@model AllPageConfiguration
@using System.Speech.Synthesis
@using Testing_for_WEB.Controllers
@using static KursovWork.VoiceAssistant

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kursov_Vork_Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="row">
            <div class="col-md-6">
            <h2>Program List</h2>
            <select id="ProgramList" class="form-control" size="5">
                Model = HomeController.Index();
                @foreach (var program in Model.ProgramList)
                {
                    <option value="@program.FileName">@program.FileName</option>
                }
            </select>
            <div id="DeleteMessage" style="color: red;"></div> 
            <button id="DeleteItem" class="btn btn-danger mt-2">Delete selected program</button>
        </div>

            <div class="col-md-6">
                <form method="post" action="/Home/AddProgram">
                    <h2>Add Program</h2>
                    <label for="NameProgram">Name:</label>
                    <input type="text" name="NameProgram" class="form-control mb-2">
                    <label for="pathToProgram">Path:</label>
                    <input type="text" name="pathToProgram" class="form-control mb-2">
                    <div id="AddProgramMessage"></div>
                    <button onclick="this.form.submit()" id="AddOpenProgram" class="btn btn-primary">Add Program</button>
                </form>
            </div>
        </div>

        <div class="row mt-5">
            <form metod="post" action="/Home/ChangeVoiceConf">
                <h2>Voice Settings</h2>
                <label for="SpeedValue">Speed:</label>
                <input type="range" name="Speed" class="form-control" min="-10" max="10" onchange="this.form.submit()" value="@Model.Speed">
                <label for="AgeValue">Age:</label>
                <select name="Age" class="form-control" onchange="this.form.submit()">
                    @foreach (var value in Enum.GetValues(typeof(VoiceAge)))
                    {
                        <option value="@value">@value</option>
                        if(value.ToString() == Model.Age.ToString())
                        {
                            <script>
                                document.getElementsByName("Age")[0].value = "@Model.Age";
                            </script>
                        }
                    }
                </select>
                <label for="GenderValue">Gender:</label>
                <select name="Gender" class="form-control" onchange="this.form.submit()">
                    @foreach (var value in Enum.GetValues(typeof(VoiceGender)))
                    {
                        <option value="@value">@value</option>
                        if (value.ToString() == Model.Gender.ToString())
                        {
                            <script>
                                document.getElementsByName("Gender")[0].value = "@Model.Gender";
                            </script>
                        }
                    }
                </select>
            </form>
            <form method="post" action="/Home/Testing">
                <h2>Testing of voice</h2>
                <input type="text" name="text">
                <input type="submit" value = 'Test' />
            </form>
        </div>
    </header>
    <script type="text/javascript">
        document.getElementById("DeleteItem").addEventListener("click", function () {
            var programList = document.getElementById("ProgramList");
            var selectedOption = programList.options[programList.selectedIndex];
            var errorMessageDiv = document.getElementById("DeleteMessage"); 

            if (selectedOption) {
                var fileName = selectedOption.value;

                selectedOption.remove();

                fetch('/Home/DeleteProgram?NameProgram=' + fileName, {
                    method: 'POST'
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('Program deleted successfully');
                            errorMessageDiv.textContent = ''; 
                        } else {
                            console.error('Error deleting program');
                            errorMessageDiv.textContent = 'Error deleting program';
                        }
                    })
                    .catch(error => {
                        console.error('Error deleting program:', error);
                        errorMessageDiv.textContent = 'Error deleting program: ' + error;
                    });
            } else {
                console.log('No program selected');
                errorMessageDiv.textContent = 'No program selected';
            }
        });
    </script>

    <script type="text/javascript">
        document.getElementById("AddOpenProgram").addEventListener("click", function (event) {
            event.preventDefault(); 

            var nameProgramInput = document.querySelector('input[name="NameProgram"]');
            var nameProgramValue = nameProgramInput.value;

            var pathToProgramInput = document.querySelector('input[name="pathToProgram"]');
            var pathToProgramValue = nameProgramInput.value;

            var messageLabel = document.getElementById("AddProgramMessage");
            messageLabel.innerHTML = ''; 

            if (nameProgramValue.trim() !== "") { 
                var programList = document.getElementById("ProgramList");

                var newOption = document.createElement('option');
                newOption.value = nameProgramValue;
                newOption.textContent = nameProgramValue;

                programList.appendChild(newOption);

                nameProgramInput.value = '';
                pathToProgramInput.value = '';
                var successMessage = document.createElement('div');
                successMessage.textContent = 'Program added successfully';
                successMessage.style.color = 'green';
                messageLabel.appendChild(successMessage);
            } else {
                var errorMessage = document.createElement('div');
                errorMessage.textContent = 'Please enter a program name';
                errorMessage.style.color = 'red';
                messageLabel.appendChild(errorMessage);
            }
        });
    </script>
</body>
</html>





